/*SLIDER PAGE*/
.slider-section{
    max-width: 100%;
    margin-bottom: 50px;
}

.slider-container{
    max-width: 850px;
    margin: 0 auto;
    position: relative;
}

.loader{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    width: 100%;
}

.loader i{
    background: white !important;
    color: #2CCDA8 !important;
    font-size: 60px !important;
    animation: rotate;
    transition: all 0.5s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.slider-img{
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.slider-section i{
    padding: 18px;
    color: white;
    background: rgba(0, 0, 0, 0.637);
    font-size: 34px;
    border-radius: 6px;
}

.slider-section a{
    position: absolute;
    top: 70px;
    right: 12px;
    border-radius: 6px;
}

.slider-arrows{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.fas.fa-chevron-left{
    border-radius: 6px 6px 0px 0px;
    margin-left: 12px;
}

.fas.fa-chevron-right{
   
    border-radius: 6px 6px 0px 0px;
    margin-right: 12px;
}

.case-name{
    color: var(--primary-color);
    font-size: 40px;
}

@media(max-width: 768px){
    .slider-section{
        padding: 100px 0;
    }
}


@media(max-width: 600px){
    .case-name{
        font-size: 32px;
    }
}

